.jumbotron {
  text-align: center;
  background: none;
}

.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}

.buttonWrapper {
  margin-top: 20px;
}
button.secondSectionBTN {
  background-color: green;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: block;
  margin: auto;
}
h5.modal-title {
  margin-left: 150px;
}
.learn-more-image {
  margin-left: 40px;
  margin-bottom: 20px;
}

.learn-more-model-form-wrapper {
  padding: 2rem;
}

.img-size {
  width: 50%;
  height: 58%;
  display: block;
  margin: auto;
  margin-top: 15px;
}

.button_center {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 50%;
}
.fotter-image {
  padding: 15px;
}
.fa-github {
  color: aliceblue;
}
.fa-linkedin {
  color: aliceblue;
}

.fab {
  margin: 10px;
}
.footer-icons {
  /* display: block; */
  margin: auto;
}
